@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
}
/* Login Form */
.login-form{
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(53, 53, 53, 0.319);
    padding: 15px;
    
}
.login-form input{
    padding: 8px;
    border-radius: 5px;
    border: 0.2px solid rgba(128, 128, 128, 0.138);
    background-color: #4d4d4d12;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    margin: 5px 0;
    color: #858282;
}
.login-form input[type="submit"]{
    color: white;
    background-color: #4bb4ed;
    font-weight: bold;

}

/* Register Form */
#account-btn{
    padding: 8px;
    border-radius: 5px;
    border: 0.2px solid rgba(128, 128, 128, 0.138);
    outline: none;
    box-shadow: none;
    color: white;
    background-color: #39B179;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}
.registerform-btn{
    box-shadow: none !important;
}
.modal-content{
    border-radius: 10px;
}